.timeline {
    width: 100%;
}

.timeline ol {
    background: url('images/ordered-list-timeline-bg.png') top center repeat-y;
    padding: 50px 0 80px 0;
    list-style-type: none;
    position: relative;
}

.timeline ol li {
    display: block;
    position: relative;
    width: 40%;
    margin: -30px 0 -60px 0;
    padding: 10px;
    border: 1px solid #ededed;
    background-color: #fff;
    clear: both;
}

.timeline ol li:nth-of-type(even) {
    float: right;
}

.timeline ol li:before {
    content: "";
    position: absolute;
    top: 25%;
    right: -15%;
    width: 15%;
    height: 1px;
    background-color: #ededed;
}

.timeline ol li:nth-of-type(even):before {
    left: -15%;
}